DATABASE_URL="postgresql://admin@localhost:5432/gym_management?schema=public"
DATABASE_URL_TEST="postgresql://admin@localhost:5432/gym_management_test?schema=public"
NEXTAUTH_SECRET="change-me-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM="Gym SaaS <onboarding@example.com>"
APP_URL="http://localhost:3000"
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER="eu"
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER="eu"
CRON_SECRET="dev-secret-change-me"
WHATSAPP_PHONE_ID=""
WHATSAPP_TOKEN=""
